/****** Main Styling ******/


* {
	box-sizing: border-box;
}

body {
	font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
	margin: 2em;
	text-align: center;
	background-color: black;
	color: #fff;
}

h1 {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

main {
	margin: 10px auto;
	border-left: 1px dotted red;
	max-width: 800px;
/*   text-align: left; */
	padding: 10px 20px;
}

form {
	margin-bottom: 25px;
	padding: 15px;
	background-color: #fff;
	display: inline-block;
	width: 100%;
	max-width: 340px;
	border-radius: 5px;
	text-align: left;
	color: black;
}

label{
	margin-bottom: 10px;
	display: block;
}

input {
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 3px;
	font-size: 16px;
}

input[type=submit] {
	font-size: 16px;
	border-radius: 3px;
	background-color: #0639;
	border: 1px solid grey;
	box-shadow: 8px 8px 12px #999;
	cursor: pointer;
	color: white;
}

input[type=submit]:hover {
	background-color: green;
}

p,h3,ul {
	padding: 10px;
}

ol li {
	list-style-type:none;
	margin: 10px 0;
}

code {
	background-color: green;
	color: white;
}

a{
	color: green;
}

a:hover {
	text-decoration: none;
}

footer {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 1px solid lightgrey;
}

.container {
	padding: 0;
	margin-top: 40px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

input {
	display: block;
	position: relative;
	margin: 10px auto;

}
input#button {
	width: 230px;
}
.view {
	position:relative;
	margin: auto;
	margin-top: 40px;
	padding: 20px;
	width: 60%;
	min-width: 370px;
}
